PRIVATE_KEY_DEPLOYER="<your private key>"
ETHERNAL_EMAIL="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_PASSWORD="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_WORKSPACE="" # Needed only if using --enable-explorer with dApp Launchpad
SYNAPSE_API_KEY = "<your synapse api key>"