PRIVATE_KEY_DEPLOYER="28d6861d7a0f66900223dea7f48cc031df1b2c25ff7c1a5e2f1601ce386b6d15"
ETHERNAL_EMAIL="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_PASSWORD="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_WORKSPACE="" # Needed only if using --enable-explorer with dApp Launchpad
